# stk install prior to 12.1.0
STKEngUnix*.zip
STKEngUnix*/*

# stk install including and after 12.1.0
STKEngineLinux_*.zip
STKEngineLinux_*/*

# license
*.lic

# Byte-compiled
__pycache__/

# Editor files
.vscode/